<div class="d-flex flex-column justify-content-center align-items-center vh-100" style="gap: 1rem;">
  <div class="" style="width: 540px;">
    <label for="message" class="form-label">Message</label>
    <input type="text" class="form-control" id="message" placeholder="Enter alert message" [formControl]="message" />
  </div>
  <div class="d-flex justify-content-center align-items-center" style="gap: 1rem;">
    <button type="button" class="btn btn-success" (click)="showAlert('success')">Success</button>
    <button type="button" class="btn btn-danger" (click)="showAlert('danger')">Danger</button>
    <button type="button" class="btn btn-warning" (click)="showAlert('warning')">Warning</button>
    <button type="button" class="btn btn-info" (click)="showAlert('info')">Info</button>
  </div>

  <!-- Using NgIf -->
  <!-- <app-alert *ngIf="isAlertVisible" [message]="message.value" [type]="type" (close)="hideAlert()" /> -->

  <!-- Dynamic Component -->
   <ng-container #alertContainer />
</div>
